@model EntityLayer.Concrete.Celebrities
@{
    ViewData["Title"] = "CelebrityGet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-left:22%">
    <h1>Guncelle</h1>

    @using (Html.BeginForm("CelebrityUpdate", "Admin", FormMethod.Post))
    {
        @Html.LabelFor(x=>x.Id)
        @Html.TextBoxFor(x=>x.Id,new{@class="form-control",@readonly="readonly"})

        @Html.LabelFor(x=>x.Name)
        @Html.TextBoxFor(x=>x.Name,new{@class="form-control"})

        @Html.LabelFor(x=>x.Gender)
        @Html.TextBoxFor(x=>x.Gender,new{@class="form-control"})

        @Html.LabelFor(x=>x.Age)
        @Html.TextBoxFor(x=>x.Age,new{@class="form-control"})

        @Html.LabelFor(x=>x.Height)
        @Html.TextBoxFor(x=>x.Height,new{@class="form-control"})

        @Html.LabelFor(x=>x.Bio)
        @Html.TextBoxFor(x=>x.Bio,new{@class="form-control"})

        @Html.LabelFor(x=>x.Job)
        @Html.TextBoxFor(x=>x.Job,new{@class="form-control"})

        @Html.LabelFor(x=>x.BirthDate)
        @Html.TextBoxFor(x=>x.BirthDate,new{@class="form-control"})

        @Html.LabelFor(x=>x.Country)
        @Html.TextBoxFor(x=>x.Country,new{@class="form-control"})

        @Html.LabelFor(x=>x.Image)
        @Html.TextBoxFor(x=>x.Image,new{@class="form-control"})

        <button class="btn btn-success">Güncelle</button>
    }
</div>
