@model EntityLayer.Concrete.User
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="margin-left:22%">
    <h1>Guncelle</h1>

    @using (Html.BeginForm("UpdateUser", "Admin", FormMethod.Post))
    {
        @Html.LabelFor(x=>x.Id)
        @Html.TextBoxFor(x=>x.Id,new{@class="form-control",@readonly="readonly"})

        @Html.LabelFor(x=>x.Name)
        @Html.TextBoxFor(x=>x.Name,new{@class="form-control"})

        @Html.LabelFor(x=>x.Username)
        @Html.TextBoxFor(x=>x.Username,new{@class="form-control"})

        @Html.LabelFor(x=>x.Mail)
        @Html.TextBoxFor(x=>x.Mail,new{@class="form-control"})
        <button class="btn btn-success">Güncelle</button>
    }
</div>