@using EntityLayer.Concrete
@model List<Celebrities>
@{
    ViewData["Title"] = "CelebritiesList";
    Layout = "~/Views/Shared/MovieLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

	<!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="~/template2/css/plugins.css">
	<link rel="stylesheet" href="~/template2/css/style.css">

</head>
<script>
	window.onload = function () {
		window.scrollTo(0, 0); // Sayfanın en üstüne otomatik olarak kaydır
	};
</script>
<body>
	<div class="hero common-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>Ünlü Listesi - list</h1>
						<ul class="breadcumb">
							<li class="active"><a href="/Home/Index">Ana sayfa</a></li>
							<li> <span class="ion-ios-arrow-right"></span> Ünlü Listesi</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- celebrity list section-->
	<div class="page-single">
		<div class="container">
			<div class="row ipad-width2">
				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="topbar-filter">
						<p class="pad-change">Toplamda <span>6 ünlü</span> var</p>
						<label>Şununla sırala:</label>
						<select>
							<option value="popularity">Popülerliğe göre azalan</option>
							<option value="popularity">Popülerliğe göre artan</option>
							<option value="rating">Puana göre azalan</option>
							<option value="rating">Puana göre  artan</option>
							<option value="date">Çıkış tarihine göre azalan</option>
							<option value="date">Çıkış tarihine göre date artan</option>
						</select>
						<a href="/Celebrities/CelebritiesList" class="list"><i class="ion-ios-list-outline active"></i></a>
						<a href="/Celebrities/Index" class="grid"><i class="ion-grid "></i></a>
					</div>
					<div class="row">
						<div class="col-md-12">
							@foreach(var item in Model)
							{
							<div class="ceb-item-style-2">
								<img src="@item.Image" width="155" height="300" alt="">
								<div class="ceb-infor">
									<h2><a href="/Celebrities/CelebritiesDetails/@item.Id">@item.Name</a></h2>
									<span>@item.Job , @item.Country</span>
									<p>@item.Bio</p>
								</div>
							</div>
							}
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-12 col-sm-12">
					<div class="sidebar">
						<div class="searh-form">
							<h4 class="sb-title">Search celebrity</h4>
							<form class="form-style-1 celebrity-form" action="#">
								<div class="row">
									<div class="col-md-12 form-it">
										<label>Ünlü ismi</label>
										<input type="text" placeholder="İsim giriniz">
									</div>
									<div class="col-md-12 form-it">
										<label>Kategori</label>
										<select>
											<option value="range">Actress</option>
											<option value="saab">actor</option>
											<option value="saab">others</option>
										</select>
									</div>
									<div class="col-md-12 form-it">
										<label>Doğum yılı</label>
										<div class="row">
											<div class="col-md-6">
												<select>
													<option value="range">1970</option>
													<option value="range">1975</option>
													<option value="range">1980</option>
													<option value="range">1985</option>
													<option value="range">1990</option>
													<option value="range">1995</option>
													<option value="range">2000</option>
													<option value="number">Other</option>
												</select>
											</div>
											<div class="col-md-6">
												<select>
													<option value="range">1970</option>
													<option value="range">1975</option>
													<option value="range">1980</option>
													<option value="range">1985</option>
													<option value="range">1990</option>
													<option value="range">1995</option>
													<option value="range">2000</option>
													<option value="number">others</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-12 ">
										<input class="submit" type="submit" value="onayla">
									</div>
								</div>
							</form>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/template2/js/jquery.js"></script>
	<script src="~/template2/js/plugins.js"></script>
	<script src="~/template2/js/plugins2.js"></script>
	<script src="~/template2/js/custom.js"></script>
</body>

<!-- celebritylist12:04-->
</html>

