@using EntityLayer.Concrete
@model List<Celebrities>
@{
    ViewData["Title"] = "CelebritiesList";
    Layout = "~/Views/Shared/MovieLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

	<!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="~/template2/css/plugins.css">
	<link rel="stylesheet" href="~/template2/css/style.css">

</head>
<script>
	window.onload = function () {
		window.scrollTo(0, 0); // Sayfanın en üstüne otomatik olarak kaydır
	};
</script>
<body>
	<div class="hero common-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>celebrity listing - list</h1>
						<ul class="breadcumb">
							<li class="active"><a href="/Home/Index">Home</a></li>
							<li> <span class="ion-ios-arrow-right"></span> celebrity listing</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- celebrity list section-->
	<div class="page-single">
		<div class="container">
			<div class="row ipad-width2">
				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="topbar-filter">
						<p class="pad-change">Found <span>1,608 celebrities</span> in total</p>
						<label>Sort by:</label>
						<select>
							<option value="popularity">Popularity Descending</option>
							<option value="popularity">Popularity Ascending</option>
							<option value="rating">Rating Descending</option>
							<option value="rating">Rating Ascending</option>
							<option value="date">Release date Descending</option>
							<option value="date">Release date Ascending</option>
						</select>
						<a href="/Celebrities/CelebritiesList" class="list"><i class="ion-ios-list-outline active"></i></a>
						<a href="/Celebrities/Index" class="grid"><i class="ion-grid "></i></a>
					</div>
					<div class="row">
						<div class="col-md-12">
							@foreach(var item in Model)
							{
							<div class="ceb-item-style-2">
								<img src="@item.Image" width="155" height="300" alt="">
								<div class="ceb-infor">
									<h2><a href="/Celebrities/CelebritiesDetails/@item.Id">@item.Name</a></h2>
									<span>@item.Job , @item.Country</span>
									<p>@item.Bio</p>
								</div>
							</div>
							}
						</div>
					</div>
					<div class="topbar-filter">
						<label>Reviews per page:</label>
						<select>
							<option value="range">36 Reviews</option>
							<option value="saab">18 Reviews</option>
						</select>

						<div class="pagination2">
							<span>Page 1 of 6:</span>
							<a class="active" href="#">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#">6</a>
							<a href="#"><i class="ion-arrow-right-b"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-12 col-sm-12">
					<div class="sidebar">
						<div class="searh-form">
							<h4 class="sb-title">Search celebrity</h4>
							<form class="form-style-1 celebrity-form" action="#">
								<div class="row">
									<div class="col-md-12 form-it">
										<label>Celebrity name</label>
										<input type="text" placeholder="Enter keywords">
									</div>
									<div class="col-md-12 form-it">
										<label>Celebrity Letter</label>
										<select>
											<option value="range">A</option>
											<option value="saab">B</option>
										</select>
									</div>
									<div class="col-md-12 form-it">
										<label>Category</label>
										<select>
											<option value="range">Actress</option>
											<option value="saab">Others</option>
										</select>
									</div>
									<div class="col-md-12 form-it">
										<label>Year of birth</label>
										<div class="row">
											<div class="col-md-6">
												<select>
													<option value="range">1970</option>
													<option value="number">Other</option>
												</select>
											</div>
											<div class="col-md-6">
												<select>
													<option value="range">1990</option>
													<option value="number">others</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-12 ">
										<input class="submit" type="submit" value="submit">
									</div>
								</div>
							</form>
						</div>
						<div class="ads">
							<img src="images/uploads/ads1.png" alt="">
						</div>
						<div class="celebrities">
							<h4 class="sb-title">featured celebrity</h4>
							<div class="celeb-item">
								<a href="#"><img src="images/uploads/ava1.jpg" alt=""></a>
								<div class="celeb-author">
									<h6><a href="#">Samuel N. Jack</a></h6>
									<span>Actor</span>
								</div>
							</div>
							<div class="celeb-item">
								<a href="#"><img src="images/uploads/ava2.jpg" alt=""></a>
								<div class="celeb-author">
									<h6><a href="#">Benjamin Carroll</a></h6>
									<span>Actor</span>
								</div>
							</div>
							<div class="celeb-item">
								<a href="#"><img src="images/uploads/ava3.jpg" alt=""></a>
								<div class="celeb-author">
									<h6><a href="#">Beverly Griffin</a></h6>
									<span>Actor</span>
								</div>
							</div>
							<div class="celeb-item">
								<a href="#"><img src="images/uploads/ava4.jpg" alt=""></a>
								<div class="celeb-author">
									<h6><a href="#">Justin Weaver</a></h6>
									<span>Actor</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/template2/js/jquery.js"></script>
	<script src="~/template2/js/plugins.js"></script>
	<script src="~/template2/js/plugins2.js"></script>
	<script src="~/template2/js/custom.js"></script>
</body>

<!-- celebritylist12:04-->
</html>

