@using EntityLayer.Concrete
@model List<Movie>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/MovieLayout.cshtml";
}

<div class="slider movie-items">

	<div class="container">
		<h3><a href="/Movie/MovieListByGrid">POPÜLER FİLMLER</a></h3>
		<div class="row">
			<div class="slick-multiItemSlider">
				@foreach (var item in Model)
				{
					<div class="movie-item">
						<div class="mv-img">
							<a href="#"><img src="@item.Image" alt="" width="285" height="437"></a>
						</div>
						<div class="title-in">
							<div class="cate">
								<span class="@item.Category.color"><a href="#">@item.Category.Name</a></span>
							</div>
							<h6><a href="/Movie/MovieDetails/@item.Id">@item.Name</a></h6>
							<p><i class="ion-android-star"></i><span>@item.Star</span> /10</p>
						</div>
					</div>
				}
			</div>
		</div>
		<h3><a href="/Serie/SerieListByGrid">POPÜLER DİZİLER</a></h3>
		@await Component.InvokeAsync("SerieListesi")
	</div>
	</div>
</div>
